<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">  
        <h2>Thank you for contacting A Wee Pedal!</h2>
        <p>We will be in touch as soon as we can.</p>
        <p>Kind regards,</p>
        <p>The Team at A Wee Pedal </p>
        <p>This is an automated response. This E-mail is strictly confidential and intended for its addressee only. 
            If you have received this e-mail in error, please immediately delete it from your PC.
            Please consider the environment - Only print this email if absolutely necessary</p>
     
    </div>
</main>

<footer>
   
</footer>

</body>
</html>