<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        
       
        <h2>Website submission</h2>
        <p>Name: <%= emailData.name %></p>
        <p>Email: <%= emailData.email %></p>
        <p>Subject: <%= emailData.subject %></p>
        <p>Message: <%= emailData.message %></p>
    
        
    </div>
</main>

<footer>
   
</footer>

</body>
</html>