.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-image {
  background-color: rgba(32, 31, 34, 1);
  background-image: url("./img/pedalLogo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.App-link {
  color: #61dafb;
}
.collection-card .stripe.light {
  background-color: rgba(255,255,255,.7);
}
.collection-card .stripe {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
}

.image-text{
  margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
}

h2{
  color: #29b6f6;
}

.foot{
  color: #29b6f6 !important; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
