.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}




.App-link {
  color: #61dafb;
}
.collection-card .stripe.light {
  background-color: rgba(255,255,255,.7);
}
.collection-card .stripe {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
}

.image-text{
  margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
}

h2{
  color: #282761;
}
section{
  padding-top:10px;
}
.contactUs{
    background-color: #282c34;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.full-height {
  height: 100%;
}
.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282761;
  color: white;
  text-align: center;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;
}
.button {
 
  display: block;

}
.button2 {
  background-color: #ffffff2b; 
  color: black; 
  border: 2px solid #282761;
}

.button2:hover {
  background-color: #282761;
  color: white;
}

.square {
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.column {
  float: left;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 768px) {
  .apppage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important; } }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media  (min-width: 1024px) and (max-width: 1881px) {
  
  .App-header-image {
    background: linear-gradient(10deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.51) 100%), url("./img/IMG_3853.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
}

@media (min-width: 481px) and (max-width: 1024px) {
  
  .App-header-image {
    background: linear-gradient(10deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.51) 100%), url("./img/mobileBackground.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .App-header-image {
    background: linear-gradient(10deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.51) 100%), url("./img/mobileBackground.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
}