.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-header-image {
  background-color: rgba(32, 31, 34, 1);
  background-image: url("./img/Bridges_landing_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.App-link {
  color: #61dafb;
}
.collection-card .stripe.light {
  background-color: rgba(255,255,255,.7);
}
.collection-card .stripe {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
}

.image-text{
  margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
}

h2{
  color: #282761;
}
section{
  padding-top:10px;
}
.contactUs{
    background-color: #282c34;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.full-height {
  height: 100%;
}
.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282761;
  color: white;
  text-align: center;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: #ffffff2b; 
  color: black; 
  border: 2px solid #282761;
}

.button2:hover {
  background-color: #282761;
  color: white;
}

.square {
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media (max-width: 768px) {
  .apppage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important; } }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
