#apppage .gradient {
  background: -moz-linear-gradient(10deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.51) 100%);
  background: -webkit-linear-gradient(10deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.51) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(10deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.51) 100%);
  background: linear-gradient(10deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.51) 100%);
}

#apppage .view {
  background-image: url('./img/Bridges_landing_page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}

#apppage .container{
  margin-right: 500px;
  padding-bottom:550px;
}
.header-button{
  margin-right: 100px;
}